 .classpath
        .project
        .settings/
        bin/
        mysql-connector-java-5.1.47.jar
 .classpath
        .gitignore
        .project
        .settings/
        bin/
        mysql-connector-java-5.1.47.jar

